@model List<RecordShop.Models.VestigingenModel>

    <table>
        <tr>
            <th>Vestiging ID</th>
            <th>Voorraad</th>
            <th>Update voorraad</th>
        </tr>

        @Html.DisplayForModel()

    </table>


